html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
}


.canvas-container {
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  height: 100vh;
}

canvas {
  border: 1px solid black;
  background: black;
  margin: 150px;
  opacity: .8;
  border-radius: 20px;
}

body {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
